/*task 2*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #161616;
}

a {
  background-color: #161616;
}

.visually-hidden {
  background-color: none;
}

.card-category {
  background-color: #d73953;
}

.section-tangle {
  background-color: #d73953;
}
