/*task 4*/

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  color: var(--text-color);
  font-size: var(--font-size-medium);
}

a {
  background-color: var(--text-color);
}

.visually-hidden {
  display: none;
}

.card-category {
  background-color: var(--color-primary);
}

.section-tangle {
  background-color: #d73953;
}

:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}
